.AIK{
   width: 200px;
   padding: 0.5rem;
   margin-top: 0.5rem;
   display: flex;
   justify-content: flex-start , space-between;
   align-items: center;
   flex-wrap: wrap;
}
#video{
 margin-top: 0.5rem;
 margin-left: 10px;
 visibility: hidden;
}
.checkbox__list {
   position: relative;
   display: flex;
 }
 
 .checkbox__list li {
   list-style: none;
 }
 
 input[type="checkbox"] {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 80px;
   width: 80px;
   z-index: 100;
 }
 
  #check {
   position: relative;
   height: 100px;
   width: 100px;
   background: #18191f;
   color: black;
   display: flex;
   justify-content: center;
   align-items: center; 
   font-size: 46px;
   cursor: pointer;
   margin: 0 4px;
   border-radius: 20px;
   box-shadow: -1px -1px 4px yellow,;
 }
 
 input[type="checkbox"]:checked ~ #check {
   box-shadow: inset 0 0 2px yellow;
   color: yellow;
   text-shadow: 0 0 15px yellow, 0 0 25px yellow;
 }

 @media screen and (max-width: 576px) {
    .AIK{
       display: none;
    }
 }
 
