body{
  font-weight: bold;
  height: 100vh;
  font: italic;


}

.container{
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    width: 200px;
    height: 320px;
    display: flex;
    justify-content: center;
    margin-top: 5%;
  
}
.container-2{
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  width: 200px;
  height: 320px;
  display: flex;
  justify-content: center;
  margin-top: 5%;

}
.container-breakingpoint{
  display: flex;
justify-content: center;
}
.breakingpoint
{
 margin-top: 3%;
  height: 15px;
  border-radius: 25px;
  background-color: rgba(73, 124, 97, 0.5); 
  width: 80%;
 box-shadow: 20px 20px 20px #000000;
}
.container-breakingpoint-side
{
  display: flex;
  justify-content: space-evenly;
}

.breakingpoint-side
{
  margin-top: 8%;
  height: 200px;
  width: 15px;
  border-radius: 25px;
  background-color: rgba(73, 124, 97, 0.5);

  box-shadow: 20px 20px 20px #000000;
    transform: skew(-10deg) rotate(2deg);
  -webkit-transform: skew(-10deg) rotate(2deg);
  -moz-transform: skew(-10deg) rotate(2deg);
  
}
h4{
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
    padding-top: 10%;
    border-bottom: 2px outset black ;
}

.procent{
  background-color: rgb(138, 228, 160);
    width: 80%;
    height: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}
.inside li {
    display: flex;
    justify-content: center; 
    align-content: center;
   
}
.bar{
    background-color:  rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    width: 140px;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    
}
.c{
    background-color: rgb(138, 228, 160);
    width: 36%;
    height: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}
.javascript{
    background-color: rgb(138, 228, 160);
    width: 19%;
    height: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.databaser{
    background-color: rgb(138, 228, 160);
    width: 29%;
    height: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.webbutveckling{
    background-color: rgb(138, 228, 160);
    width: 75%;
    height: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}
.css{
    background-color: rgb(138, 228, 160);
    width: 64%;
    height: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.HTML{
    background-color: rgb(138, 228, 160);
    width: 42%;
    height: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}
.container-box{
    display: flex;
    justify-content: center;
   justify-content: space-evenly;
}


.lorem-container{


padding: 10px;
  width: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius:  0px 25px 25px 0px;
   
}

.info {
  background-color: rgba(73, 124, 97, 0.5);
  border-radius: 25px 0px 0px 25px ;
  width: 200px;
  display: flex;
  justify-content: center;
 
}
.lorem-box{
  display: flex;
  justify-content: center;
 padding-top: 20px;
}

ul{ 
  list-style-type: none;
  justify-content: center;
}

.box-bild{
    display: flex;
    justify-content: center;
  

}

.bild {
    
    width: 75px;
    height: 95px;
    border-radius: 25%;
    transition: 1s ease-out;
    -webkit-animation: jello-horizontal 5s both;
    animation: jello-horizontal 5s both;
  
}
.bild:hover{
   
    transition: 1s ease-out;
    width: 175px;
    height: 195px;
    
    
}
.circleLogo-center{
  margin-top: 1%;
  height: 120px;
  width: 120px;
  align-self: center;
  justify-content: center ;
  content: "";
  border-radius: 50%;
  background: center/cover
    url(https://scontent-arn2-1.xx.fbcdn.net/v/t1.18169-9/249457_10151241115411273_311578437_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=cdbe9c&_nc_ohc=4cnLD7XTX_IAX_LeYk4&tn=Iy5HDYgRmDlU8-0T&_nc_ht=scontent-arn2-1.xx&oh=00_AT9F_Cc6E5FQSI9Z67STImQZ_PuaYRWXo-srstxxSiDQcQ&oe=62222118);
  animation: spin 5s linear infinite;

}
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
  background-color:  #151719;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
  display: flex;
  justify-content: center;
 
  
}
.waviy span {
  border-bottom: 3px solid black;
  font-family: italic;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 3s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
  
@media screen and (max-width: 576px){
  .breakingpoint-side{
    display: none;
  }
.breakingpoint{
  display: none;
}
.lorem-container{
  display: none;
}
.container-box
{
  padding-top: 20px;
  display: flex;
  flex-direction:column ;
 align-items: center;

}
.container-2
{
  display: none;
}
.circleLogo-center
{
  margin-top: 55px;
}
.waviy span {
  display: none;
}


}
@-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  
