body {
  font-family: consolas;
  background-size: cover;
  margin: 0;
}
.input {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 45px;
}
.button {
  background-color: #000000;
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 45px;
  border-radius: 25px;
  transition: 1s ease;
}
#freetext {
  flex-grow: 1;
  padding: 5px;
  outline: none;
  border: 1px solid rgb(165, 246, 172);
  border-radius: 15px;
  transition: background 0.25s, box-shadow 0.25s;
  background: rgb(237, 255, 238);
}
.button:hover {
  background-color: white;
  color: #000000;
  border: 1px solid #000000;
  transition: 1s;
}

.inputbar {
  flex-grow: 1;
  padding: 10px;
  outline: none;
  border: 1px solid rgb(165, 246, 172);
  border-radius: 25px;
  background: rgb(237, 255, 238);
  transition: background 0.25s, box-shadow 0.25s;
}
.inputbar:focus {
  background: white;
}

h1 {
  color: rgb(255, 255, 255);
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  border-radius: 25px;
  padding: 10px;
  margin: 20px;
  box-shadow: 9px 9px 9px #000000;
}

.klassformular {
  display: flex;
  justify-content: center;
}

.box {
  opacity: 0.9;
  border-radius: 25px;
  width: 300px;
  border: 3px solid #000000;
  padding: auto;
  height: max-content;
  margin: auto;
  box-shadow: 9px 9px 9px #000000;
  transition: 1s ease-out;
}
.box:hover {
  box-shadow: 9px 9px 9px white;
  border: 3px solid white;
}
.inputbar {
  flex-grow: 1;
  padding: 10px;
  outline: none;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 25px;
  background: rgb(237, 255, 238);
  transition: background 0.25s, box-shadow 0.25s;
}
.inputbar:focus {
  background: white;
}
.fab{
  margin-top: 10px;
}
#text{
  display: block;
  color: #000;
  font-weight: 900;
  font-style: italic;
  padding: 5px;
  font: bold;
 
  
}
@media screen and (max-width: 576px) {
   .klassformular{
     display: none;
   }
   .box{
     border: none;
     border-radius: none;
     box-shadow: none;
     transition: none;
     margin-top: -15px;
   }
   .box:hover{
     border: none;
     box-shadow: none;
     
   }
}
