body {
  background-image: url("circuit-wallpaper-1080p-89586.jpg");
  background-repeat: no-repeat;
  height: 100%;
}

.topnav {
  color: aqua;
}

.topnav #myLinks {
  display: none;
  color: aqua;
}

#myLinks a {
  color: gray;
}
