.flexbox {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 10%;
}

.welcomeText {
  color: rgb(255, 255, 255);
  font-style: consolas;
}

.welcomeText h1 {
  justify-content: flex-start;
  align-items: center;
  font-size: 5em;
  -webkit-animation: text-flicker-in-glow 3s linear both;
  animation: text-flicker-in-glow 3s linear both;
}
@keyframes text-flicker-in-glow {
  10% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0.5;
    text-shadow: none;
  }
  60.1% {
    opacity: 0.75;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
}

.welcomeText h3 {
  color: rgb(235, 235, 235);
  justify-content: flex-start;
  -webkit-animation: pText 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: pText 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  margin-right: 50%;
}

@keyframes pText {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.welcomeText .img2 {
  width: 40%;
  height: 35%;
  margin-left: 30%;
  margin-top: 10%;
  -webkit-animation: pText 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: pText 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  transform: rotate(170deg);
}

@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}

input[type="radio"] {
  display: none;
}

.container {
  position: absolute;
  height: 60vh;
  width: 50%;
  padding: 4em;
  padding-right: 0;
  display: inline-block;
  left: 50%;
  bottom: 30%;
  right: 0%;
}

.slide-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 3em;
  width: 100%;
  height: 80%;
  border-radius: 20px;
  box-shadow: 0px 1px 2px 0px rgb(53, 53, 53);
  overflow: hidden;
}
@media only screen and (min-width: 576px) {
  .welcomeText .img2 {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    height: 300px;
    width: 320px;
    padding: 4em;
    padding-right: 0;
    padding-top: 2em;
    display: inline;
    top: 270px;
    bottom: 400px;
    left: -53px;
  }
   p{
    display: none;
  } 
  .slide-wrapper {
    width: 100%;
    padding: 0;
  }
  .welcomeText {
    font-size: 0.75em;
    margin-left: 2%;
  }
  .welcomeText h3 {
    margin-right: 0%;
    margin-left: 2%;
  }
  .welcomeText h1 {
    font-size: 3em;
  }
  .welcomeText .img1 {
    display: none;
  }
  .flexbox {
    height: 50vh;
  }
}

/*==================
  Slides
===================*/

#slide-role {
  background: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  z-index: 100;
  transition: left 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  /* flex */
  display: flex;
}

.slide {
  width: 50%;
  height: 100%;

  background-size: cover;
  background-position: center;
}

/* backgrounds */

.slide-1 {
  background-image: url("gubbenirummet.jpg");
}

.slide-2 {
  background-image: url("https://i.gyazo.com/82523270a933270a1baa8432a8a14c64.png");
}

.slide-3 {
  background-image: url("carrental.jpg");
}

.slide-4 {
  background-image: url("https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
}

/*===================
  BUTTONS
====================*/

.btn,
.btn::after {
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn {
  border: 1px solid rgba(0, 0, 0, 0.281);
  background: rgb(255, 255, 255);
  box-shadow: 0px 2px 2px rgba(56, 56, 56, 0.822);
  position: absolute;
  bottom: 12%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transform: scale(1.1);
  z-index: 1000;
}

.btn:nth-of-type(1) {
  left: 38%;
}

.btn:nth-of-type(2) {
  left: 45%;
}

.btn:nth-of-type(3) {
  left: 52%;
}

.btn:nth-of-type(4) {
  left: 59%;
}

.btn:hover {
  transform: scale(1.4);
}

/* buttons Atom! */

.btn::after {
  content: "";
  display: inline-block;
  border: 1px solid white;
  background: rgb(11, 185, 238);
  width: 20px;
  height: 20px;
  margin: 3px 3px;
  transform: scale(0.5, 0.5);
  box-shadow: 0px 1px 5px rgba(56, 56, 56, 0.822);
}

/*====================
      L O G I C 
===================*/

/* slide logic */

input[type="radio"]:checked#slide-2-trigger
  ~ div.slide-wrapper
  > div#slide-role {
  left: -100%;
}

input[type="radio"]:checked#slide-3-trigger
  ~ div.slide-wrapper
  > div#slide-role {
  left: -200%;
}

input[type="radio"]:checked#slide-4-trigger
  ~ div.slide-wrapper
  > div#slide-role {
  left: -300%;
}

/* button logic */

input[type="radio"]:checked + label.btn {
  transform: scale(1.2);
  border: 1px solid rgba(53, 53, 53, 0.308);
}

input[type="radio"]:checked + label.btn::after {
  transform: scale(1.1, 1.1);
  background: lightskyblue;
}

/*=====================================================================================
              MEDIA QUERIES
=======================================================================================*/

/* @media only screen and (max-width: 750px) {
  .slide-wrapper {
    width: 90%;
    height: 100%;
  }
  .btn:nth-of-type(1) {
    left: 93%;
    bottom: 60%;
  }
  .btn:nth-of-type(2) {
    left: 93%;
    bottom: 50%;
  }
  .btn:nth-of-type(3) {
    left: 93%;
    bottom: 40%;
  }
  .btn:nth-of-type(4) {
    left: 93%;
    bottom: 30%;
  }
} */

@media only screen and (max-width: 450px) {
  .btn:nth-of-type(1) {
    left: 32%;
  }
  .btn:nth-of-type(2) {
    left: 47%;
  }
  .btn:nth-of-type(3) {
    left: 62%;
  }
  .btn:nth-of-type(4) {
    left: 77%;
  }
}
