.welcomeText {
  color: rgb(255, 255, 255);
  font-style: consolas;
  height: 500px;
}

.welcomeText h1 {
  display: flex;
  justify-content: flex-start;
  margin-left: 15.5%;
  margin-top: 10%;
  font-size: 5em;
  -webkit-animation: text-flicker-in-glow 3s linear both;
  animation: text-flicker-in-glow 3s linear both;
}

@keyframes text-flicker-in-glow {
  10% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0.5;
    text-shadow: none;
  }
  60.1% {
    opacity: 0.75;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
}

.welcomeText h3 {
  color: rgb(235, 235, 235);
  margin-top: 2%;
  margin-left: 15.5%;
  margin-right: 50%;
  display: flex;
  justify-content: flex-start;
  -webkit-animation: pText 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: pText 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes pText {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.welcomeText img {
  width: 10%;
  height: 20%;
  margin-left: 50%;
  margin-right: 50%;
  -webkit-animation: swirl-in-fwd 1.3s ease-out both;
  animation: swirl-in-fwd 1.3s ease-out both;
}

@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
